<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.blog.wcl.user.mapper.TcommentsMapper">

	<resultMap id="RM_Tcomments" type="com.blog.wcl.user.entity.Tcomments">
        <result property="coid" column="coid"/>
        <result property="cid" column="cid"/>
        <result property="created" column="created"/>
        <result property="author" column="author"/>
        <result property="authorId" column="author_id"/>
        <result property="ownerId" column="owner_id"/>
        <result property="mail" column="mail"/>
        <result property="url" column="url"/>
        <result property="ip" column="ip"/>
        <result property="agent" column="agent"/>
        <result property="content" column="content"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="parent" column="parent"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		coid,cid,created,author,author_id,owner_id,mail,url,ip,agent,content,type,status,parent
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="save">
	    <![CDATA[
	        INSERT INTO t_comments (
	        	coid ,
	        	cid ,
	        	created ,
	        	author ,
	        	author_id ,
	        	owner_id ,
	        	mail ,
	        	url ,
	        	ip ,
	        	agent ,
	        	content ,
	        	type ,
	        	status ,
	        	parent 
	        ) VALUES (
	        	#{coid} ,
	        	#{cid} ,
	        	#{created} ,
	        	#{author} ,
	        	#{authorId} ,
	        	#{ownerId} ,
	        	#{mail} ,
	        	#{url} ,
	        	#{ip} ,
	        	#{agent} ,
	        	#{content} ,
	        	#{type} ,
	        	#{status} ,
	        	#{parent} 
	        )
	    ]]>
	</insert>
	
	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if test="cid != null">
				cid = #{cid} ,
			</if>
			<if test="created != null">
				created = #{created} ,
			</if>
			<if test="author != null and author != ''">
				author = #{author} ,
			</if>
			<if test="authorId != null">
				author_id = #{authorId} ,
			</if>
			<if test="ownerId != null">
				owner_id = #{ownerId} ,
			</if>
			<if test="mail != null and mail != ''">
				mail = #{mail} ,
			</if>
			<if test="url != null and url != ''">
				url = #{url} ,
			</if>
			<if test="ip != null and ip != ''">
				ip = #{ip} ,
			</if>
			<if test="agent != null and agent != ''">
				agent = #{agent} ,
			</if>
			<if test="content != null and content != ''">
				content = #{content} ,
			</if>
			<if test="type != null and type != ''">
				type = #{type} ,
			</if>
			<if test="status != null and status != ''">
				status = #{status} ,
			</if>
			<if test="parent != null">
				parent = #{parent} 
			</if>
		</set>
	</sql>
	
	<!-- 修改 -->
	<update id="update">
		UPDATE t_comments
		<include refid="update_sql" />
		WHERE
			coid = #{coid} 	</update>

	<!-- 根据ID删除 -->
	<delete id="delete">
    	<![CDATA[
        	DELETE FROM t_comments 
        	WHERE  coid = #{coid}
    	]]>
	</delete>
	
	<!-- getById -->
	<select id="getById" resultMap="RM_Tcomments">
		SELECT
		<include refid="columns" />
		FROM t_comments
		WHERE  coid = #{coid}  
	</select>

	<!-- 获取总数 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(1)
		FROM t_comments
		<where>
			<if test="model != null">
						<if test="model.coid != null">
							AND coid = #{model.coid}
						</if>
						<if test="model.cid != null">
							AND cid = #{model.cid}
						</if>
						<if test="model.created != null">
							AND created = #{model.created}
						</if>
						<if test="model.author != null and model.author !=''">
							AND author = #{model.author}
						</if>
						<if test="model.authorId != null">
							AND author_id = #{model.authorId}
						</if>
						<if test="model.ownerId != null">
							AND owner_id = #{model.ownerId}
						</if>
						<if test="model.mail != null and model.mail !=''">
							AND mail = #{model.mail}
						</if>
						<if test="model.url != null and model.url !=''">
							AND url = #{model.url}
						</if>
						<if test="model.ip != null and model.ip !=''">
							AND ip = #{model.ip}
						</if>
						<if test="model.agent != null and model.agent !=''">
							AND agent = #{model.agent}
						</if>
						<if test="model.content != null and model.content !=''">
							AND content = #{model.content}
						</if>
						<if test="model.type != null and model.type !=''">
							AND type = #{model.type}
						</if>
						<if test="model.status != null and model.status !=''">
							AND status = #{model.status}
						</if>
						<if test="model.parent != null">
							AND parent = #{model.parent}
						</if>
			</if>
		</where>
	</select>  
	
		<!-- 按条件组合搜索列表  -->
	<select id="getCountSize" resultType="int" >
		SELECT COUNT(1)
		FROM t_comments
		<where>
					<if test="coid != null">
						AND coid = #{coid}
					</if>
					<if test="cid != null">
						AND cid = #{cid}
					</if>
					<if test="created != null">
						AND created = #{created}
					</if>
					<if test="author != null and author !=''">
						AND author = #{author}
					</if>
					<if test="authorId != null">
						AND author_id = #{authorId}
					</if>
					<if test="ownerId != null">
						AND owner_id = #{ownerId}
					</if>
					<if test="mail != null and mail !=''">
						AND mail = #{mail}
					</if>
					<if test="url != null and url !=''">
						AND url = #{url}
					</if>
					<if test="ip != null and ip !=''">
						AND ip = #{ip}
					</if>
					<if test="agent != null and agent !=''">
						AND agent = #{agent}
					</if>
					<if test="content != null and content !=''">
						AND content = #{content}
					</if>
					<if test="type != null and type !=''">
						AND type = #{type}
					</if>
					<if test="status != null and status !=''">
						AND status = #{status}
					</if>
					<if test="parent != null">
						AND parent = #{parent}
					</if>
		</where>
	</select>
	
	<!-- 按条件组合搜索列表  -->
	<select id="findList" resultMap="RM_Tcomments">
		SELECT
		<include refid="columns" />
		FROM  t_comments
		<where>
					<if test="coid != null">
						AND coid = #{coid}
					</if>
					<if test="cid != null">
						AND cid = #{cid}
					</if>
					<if test="created != null">
						AND created = #{created}
					</if>
					<if test="author != null and author !=''">
						AND author = #{author}
					</if>
					<if test="authorId != null">
						AND author_id = #{authorId}
					</if>
					<if test="ownerId != null">
						AND owner_id = #{ownerId}
					</if>
					<if test="mail != null and mail !=''">
						AND mail = #{mail}
					</if>
					<if test="url != null and url !=''">
						AND url = #{url}
					</if>
					<if test="ip != null and ip !=''">
						AND ip = #{ip}
					</if>
					<if test="agent != null and agent !=''">
						AND agent = #{agent}
					</if>
					<if test="content != null and content !=''">
						AND content = #{content}
					</if>
					<if test="type != null and type !=''">
						AND type = #{type}
					</if>
					<if test="status != null and status !=''">
						AND status = #{status}
					</if>
					<if test="parent != null">
						AND parent = #{parent}
					</if>
		</where>
		<if test="sortColumns != null and sortColumns !=''">
			ORDER BY #{sortColumns}
		</if>
	</select>

	<!-- 分页 -->
	<select id="findPageList" resultMap="RM_Tcomments">
		SELECT <include refid="columns" />
		FROM t_comments
		<where>
			<if test="model != null">
						<if test="model.coid != null">
							AND coid = #{model.coid}
						</if>
						<if test="model.cid != null">
							AND cid = #{model.cid}
						</if>
						<if test="model.created != null">
							AND created = #{model.created}
						</if>
						<if test="model.author != null and model.author !=''">
							AND author = #{model.author}
						</if>
						<if test="model.authorId != null">
							AND author_id = #{model.authorId}
						</if>
						<if test="model.ownerId != null">
							AND owner_id = #{model.ownerId}
						</if>
						<if test="model.mail != null and model.mail !=''">
							AND mail = #{model.mail}
						</if>
						<if test="model.url != null and model.url !=''">
							AND url = #{model.url}
						</if>
						<if test="model.ip != null and model.ip !=''">
							AND ip = #{model.ip}
						</if>
						<if test="model.agent != null and model.agent !=''">
							AND agent = #{model.agent}
						</if>
						<if test="model.content != null and model.content !=''">
							AND content = #{model.content}
						</if>
						<if test="model.type != null and model.type !=''">
							AND type = #{model.type}
						</if>
						<if test="model.status != null and model.status !=''">
							AND status = #{model.status}
						</if>
						<if test="model.parent != null">
							AND parent = #{model.parent}
						</if>
			</if>
		</where>
		limit 
		<choose>
			<when test="pager != null">
				#{pager.begin},#{pager.pageSize}
			</when>
			<otherwise>
				0,10
			</otherwise>
		</choose>
	</select>
	
	<!-- 查询最新的评论 -->
	<select id="findRecentComment"   resultMap="RM_Tcomments">
		SELECT <include refid="columns" />
		FROM t_comments
		ORDER BY created desc
		limit 
		<choose>
			<when test="_parameter != null">
				0,#{_parameter,jdbcType=INTEGER}
			</when>
			<otherwise>
				0,10
			</otherwise>
		</choose>
	</select>
	
	
	

</mapper>
